body{
    background-color: rgb(104, 105, 104);
}
h1{
    font-size: 60px;
    color:black;
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(116, 145, 168);
    text-align: justify;
}
img{
    
}